<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>OAuth Callback</title>

  <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
</head>
<body>
<h1>OAuth Callback</h1>
<div th:if="${success}">
  <p>Authorization successful!</p>
  <!-- Additional content for a successful callback -->
</div>
<div th:unless="${success}">
  <p>Authorization failed. Please try again.</p>
  <!-- Additional content for an error callback -->
</div>
</body>
</html>
